/* Big tablets to 1200 width */
@media only screen and (max-width: 1200px) {
    .header-text {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%;}
    .footer-nav li{
        margin-right: 40px;
    }
    .right {
        margin-left: 250px;
    }
}


/*Small tablet to big tablet; 768-1023px*/
@media only screen and (max-width: 1023px) {
    .header-text {
        width: 100%;
        padding: 0 2%;
    }
    body {font-size: 18px;}
    section {padding: 10px 0; }
    h2:before {margin-top: 10px;}
    .footer-nav li{
        margin-right: 30px;
    }
    .right {
        margin-left: 150px;
    }
}

/*Small phones to small tablets; 481-767px*/
@media only screen and (max-width: 767px) {
    .header-text {
        width: 100%;
        padding: 0 2%;
    }
    body {font-size: 16px;}
    .footer-nav li{
        margin-right: 20px;
    }
    .right {
        margin-left: 100px;
    }
}

/*Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
    .header-text {
        width: 100%;
        padding: 0 2%;
    }

    body {font-size: 14px;}
    .footer-nav { margin: 30px auto 30px 10px;}
    .footer-nav li{
        margin-right: 5px;
    }
    .right {
        margin-left: 50px;
    }
}